.table-data {
  margin: auto;
  width: 98% !important;
  margin-bottom: 40px !important;
}
.navbar-container {
  background-color: blue;
}

.App-link {
  color: #61dafb;
}

tr{
   width: 100%;
   border:1px solid black;
}

td{
    font-size: 1.3rem;
    border:1px solid black;
}